/* frontend/src/index.css */
:root {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}

#root {
  width: 100%;
  margin: 0 auto;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 5px;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}